<!DOCTYPE html>
<html lang="en">
<title>Poke Pic</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/css/style.css">

<body>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <img class="w3-image"
            src="https://cdn11.bigcommerce.com/s-2knzypw0mh/images/stencil/1280x1280/s/pokemon__27759.original.jpg"
            alt="Me" width="1500" height="600">
        <!-- <div class="w3-display-middle w3-padding-medium w3-border w3-wide w3-text-light-grey w3-center">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">POKE PIC</h1>
        </div> -->
    </header>
    <br><br><br>

    <!-- Instructions -->
    <br>
    <h1 class="w3-center">Poke Pic</h1><br>
    <p class="instructions">Import an image of any first generation Pokemon below and Poke Pic will identify the
        character's name.</p><br><br>

    <!-- Import Button-->
    <form align="center" method=post enctype=multipart/form-data> <p><input type=file name=file>
        <input type=submit value=Upload>
    </form>
    <br></br>
    </div>


    <!-- Footer -->
    <footer class="page-footer>
    <div class=" footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Poke Pic</a>
        </div>
    </footer>

</body>

</html>